__pycache__/
venv
.idea

#Files
*~
*.txt
*.log
*.vscode
hfrnet/packages/hfrnet/run_rtv/stcCompute25hrAvg.py
hfrnet/packages/hfrnet/run_rtv/ltaMonthly.py
hfrnet/packages/hfrnet/run_rtv/ltaMonthlyAvg.py
hfrnet/packages/hfrnet/run_rtv/ltaMonthlySum.py
hfrnet/packages/hfrnet/run_rtv/input_files
hfrnet/packages/hfrnet/run_rtv/lib_lta.py
hfrnet/packages/hfrnet/run_rtv/lib_stc.py
hfrnet/packages/hfrnet/run_rtv/rtvTests.py
hfrnet/packages/hfrnet/run_rtv/runSQLite.py
hfrnet/packages/hfrnet/run_rtv/stcCompute25hrAvg.py
hfrnet/ancillary_data/grid_data/*
